%form{:action => "/", :method => "post"}
  %br/
  %br/
  %label{:for => "input_name"}= "Input name: "
  %input{:name => "input_name"}
  %br/
  %label{:for => "output_name"}= "Output name: "
  %input{:name => "output_name"}
  %br/
  %br/
  %button{:type => "submit"}="Submit"